<!-- <div class="subheader">
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="logo-block">
       
        <a class="navbar-brand" routerLink="/{{menu}}" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> <img src="../../assets/images/skpLogo4.png" class="img-responsive"></a>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="left-side">
      <ul class="list-unstyled">
        <li><button class="btn btn-primary" type="submit">Check The College </button></li>
        <li><img src="../../assets/images/icon.png"> Download App </li>
        <li> Sign Up </li>
        <li> Sign Up </li>
      </ul>
    </div>
    </div>
  </div>
</div>
</div>
<div class="menu-bar">
  <div class="container">
    <div class="row">
   
	 <div class="col-md-12 col-sm-12">
     <div class="topnav-centered">
		<ul class="exo-menu ">
			<li><a class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i> Home</a></li>
			<li><a routerLink="/universities" > universities</a></li>
			<li class="mega-drop-down"><a routerLink="/colleges"> Colleges</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive" src="https://3.bp.blogspot.com/-rUk36pd-LbM/VcLb48X4f-I/AAAAAAAAGCI/Y_UxBAgEqwA/s1600/Magento_themes.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">Standers</h4>
								<ul class="stander">
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Computer</a></li>
									<li><a href="#">Watch</a></li>
									<li><a href="#">laptop</a></li>
									<li><a href="#">Camera</a></li>
									<li><a href="#">I pad</a></li>
									<li><a class="view-more btn- btn-sm" href="#">View more</a></li>
								</ul>
							</div>
							<div class="col-md-3">
								<h4 class="row mega-title">Description</h4>
								<ul class="description">
									<li><a href="#">Women</a>
										<span>Description of Women</span>
									</li>
									<li><a href="#">Men</a>
											<span>Description of men Cloths</span>
									</li>
									<li><a href="#">Kids</a>
											<span>Description of Kids Cloths</span>
									</li>
									<li><a href="#">Others</a>
											<span>Description of Others Cloths</span>
									</li>
									<li>
									<a class="view-more btn btn-sm " href="#">View more</a>
											 
									</li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">Icon + Description</h4>
								<ul class="icon-des">
									<li><a href="#"><i class="fa fa-globe"></i>Web</a></li>
									<li><a href="#"><i class="fa fa-mobile"></i>Mobile</a></li>
									<li><a href="#"><i class="fa fa-arrows-h"></i>Responsive</a></li>
									<li><a href="#"><i class="fa fa-desktop"></i>Desktop</a></li>
									<li><a href="#"><i class="fa fa-paint-brush"></i>UI/UX</a></li>
								</ul>
							</div>
							
						</div>
					</div>	
				</div>
			</li>
      <li class="mega-drop-down"><a routerLink="/10+2
        " >10+2</a>
				<div class="animated fadeIn mega-menu">
					<div class="mega-menu-wrap">
						<div class="row">
						<div class="col-md-4">
							<h4 class="row mega-title">Feature</h4>
								<img class="img-responsive" src="https://3.bp.blogspot.com/-rUk36pd-LbM/VcLb48X4f-I/AAAAAAAAGCI/Y_UxBAgEqwA/s1600/Magento_themes.jpg">
							</div>
							<div class="col-md-2">
									<h4 class="row mega-title">Standers</h4>
								<ul class="stander">
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Computer</a></li>
									<li><a href="#">Watch</a></li>
									<li><a href="#">laptop</a></li>
									<li><a href="#">Camera</a></li>
									<li><a href="#">I pad</a></li>
									<li><a class="view-more btn- btn-sm" href="#">View more</a></li>
								</ul>
							</div>
							<div class="col-md-3">
								<h4 class="row mega-title">Description</h4>
								<ul class="description">
									<li><a href="#">Women</a>
										<span>Description of Women</span>
									</li>
									<li><a href="#">Men</a>
											<span>Description of men Cloths</span>
									</li>
									<li><a href="#">Kids</a>
											<span>Description of Kids Cloths</span>
									</li>
									<li><a href="#">Others</a>
											<span>Description of Others Cloths</span>
									</li>
									<li>
									<a class="view-more btn btn-sm " href="#">View more</a>
											 
									</li>
								</ul>
							</div>
							<div class="col-md-3">
							<h4 class="row mega-title">Icon + Description</h4>
								<ul class="icon-des">
									<li><a href="#"><i class="fa fa-globe"></i>Web</a></li>
									<li><a href="#"><i class="fa fa-mobile"></i>Mobile</a></li>
									<li><a href="#"><i class="fa fa-arrows-h"></i>Responsive</a></li>
									<li><a href="#"><i class="fa fa-desktop"></i>Desktop</a></li>
									<li><a href="#"><i class="fa fa-paint-brush"></i>UI/UX</a></li>
								</ul>
							</div>
							
						</div>
					</div>	
				</div>
			</li>
			<li><a routerLink="/schools"> Schools</a>
				<div class="contact">
			
				</div>
      </li>
      <li><a href="#">Training Courses</a>
				<div class="contact">
			
				</div>
      </li>
   <li><a href="#">Exams</a>
				<div class="contact">
			
				</div> 
			</li>
			<a href="#" class="toggle-menu visible-xs-block">|||</a>		
  </ul>

</div>
</div>
<div class="col-md-2 col-sm-2">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"> Sign Up</a></li>
    <li><a href="#"> Login</a></li>
  </ul>
</div>
	 
	 </div>
</div> -->

<!-- <header class="fixed-top main-navigation box-shadow">

  <nav class="navbar navbar-expand-lg navbar-light header-bg rounded justify-content-between posRel">
    <a class="navbar-brand" routerLink="/{{menu}}" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"><span class="logoSym"></span></a>

    <div class="form-inline mt-2 mt-md-0 flex-end topBtns">
      <ul *ngIf='!userFlag' class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModalCenter">Login
            <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModalCenter">Sign Up
            <i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul *ngIf='userFlag' class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModalCenter">{{currentUserData.username}}
            <i class="fa fa-user" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)='logout()'>Logout
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>


    <button class="navbar-toggler hamburgerMenu" type="button" data-toggle="collapse" data-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto d-flex flex-end mt-3 col main-menu">
        <li class="nav-item active">
          <a routerLink="/{{menu}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">Home</a>
        </li>

        <li class="nav-item d-flex">
          <a routerLink="/universities" routerLinkActive="active" class="nav-link">universities</a>
        </li>
        <li class="nav-item d-flex">
          <a routerLink="/colleges" routerLinkActive="active" class="nav-link"
            (click)="setDocTitle( 'Colleges' )">colleges</a>
        </li>
        <li class="nav-item d-flex">
          <a routerLink="/10+2" routerLinkActive="active" class="nav-link" (click)="setDocTitle( '10+2' )">10+2</a>
        </li>
        <li class="nav-item d-flex">
          <a routerLink="/schools" routerLinkActive="active" class="nav-link"
            (click)="setDocTitle( 'Schools' )">schools</a>
        </li>
        <li class="nav-item d-flex">
          <a routerLink="/exams" routerLinkActive="active" class="nav-link" (click)="setDocTitle( 'Exams' )">exams</a>
        </li>
        <li class="nav-item d-flex">
          <a routerLink="/contact-us" routerLinkActive="active" class="nav-link"
            (click)="setDocTitle( ' Contact Us-Skkopi' )">contact-us</a>
        </li>
      </ul>
    </div>
  </nav>
</header> -->



<!-- Modal -->
<!-- Login Form Model -->
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content test">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalCenterTitle">Login </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && flg.username.errors }" />
            <div *ngIf="submitted && flg.username.errors" class="invalid-feedback">
              <div *ngIf="flg.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && flg.password.errors }" />
            <div *ngIf="submitted && flg.password.errors" class="invalid-feedback">
              <div *ngIf="flg.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register Form Model -->
<div class="modal fade" id="signupModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Signup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <div *ngIf='this.errorMessage'>
              <p class="text-success">Registration-success please Check your mail for Confirmation !</p>
            </div>

            <img *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <!-- <a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
          </div>
        </form>



      </div>

    </div>
  </div>
</div>









<!-- <header>
      <nav class="navbar navbar-expand-md navbar-dark header-bg row-no-margin">
        <a class="navbar-brand" href="#"><span class="logoSym">S</span>Skkopi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
    </li>
</ul>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item userProfile">
              <a class="nav-link" href="#"><span class="userProfileIcon">M</span> Mohammad</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-center" href="#">
              <span tooltip="My Wishlist" placement="left" show-delay="100"><i class="fa fa-heart-o"></i> </span>
              <span class="sr-only">(current)</span></a>
            </li>
             
            
          </ul>
          <div class="form-inline mt-2 mt-md-0">
            
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModalCenter">Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#signupModalCenter">Signup</button>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid col-no-padding main-navigation box-shadow">

    <nav class="nav d-flex justify-content-between container">
            <a routerLink="/{{menu}}" routerLinkActive="active" class="nav-link" *ngFor="let menu of menuList">{{menu}}</a>    	            	
    </nav>
    </div>

 
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  
    <div class="modal-content test">
    <app-login></app-login>
    </div>
  </div>
</div>


<div class="modal fade" id="signupModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  
    <div class="modal-content">
    <app-register></app-register>      
    </div>
  </div>
</div>

 -->
 <div class="top-container">
<div class="top-bar-block">
 <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 noo-res"></div>
      <div class="col-md-10 col-sm-10">
        <div class="top-bar">
          <div class="col-md-3">
           
          </div>
          
          <!-- Social Icon -->
          <div class="col-md-9">
            <ul class="some-info font-montserrat">
              <li><a href="#"><i class="fa fa-mobile"></i> Download App</a></li>
              <li><a href="#sign_up" data-target="#sign_up" data-toggle="modal"><i class="fa fa-sign-in"></i> Signup</a></li>
              <li><a href="#LogIn" data-target="#LogIn" data-toggle="modal"><i class="fa fa-unlock"></i> Login</a></li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="container">
<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="header-logo">
          <img src="../../assets/images/skpLogo4.png" class="img-responsive">
        </div>
      </div>
      <div class="col-md-10 col-sm-8">
        <div class="nav-header">
          <nav class="navbar navbar-expand-md navbar-dark">
              <!-- Brand -->
              
            
              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/home" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/universities" >Universities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/colleges" >Colleges</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">10+2</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#">Schools</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/exams">Exams</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Training Courses</a>
                        </li> 
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Abroad</a>
                          </li>   -->
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/contact-us" >Contact us</a>
                        </li> 
                </ul>
              </div> 
            </nav>
          </div>
      </div>
</div>
  </div>
  <div id="LogIn" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
            <div class="img-block-login">
                <img src="../../assets/images/skpLogo4.png" class="img-responsive img-fluid">
              </div>
       <div class="form-block">

        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="email">Email Id: &nbsp; &nbsp; </label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>
          <a href="#">Forget Password?</a>
  <div class="button-block">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form> 
       </div>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>


  <div id="sign_up" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body">
            
         <div class="form-block1">
  <div class="col-md-6 col-sm-6">
<div class="form-group">
  <label>
    Enter Your First Name
  </label>
  <input type="text" class="form-control" placeholder="enter your name">
</div>
  </div>
  <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <label>
          Enter Your last Name
        </label>
        <input type="text" class="form-control" placeholder="enter your name">
      </div>
        </div>
 
  <div class="col-md-6 col-sm-6">
      <div class="form-group">
          <label>
              Enter User Name
            </label>
            <input type="text" class="form-control" placeholder="enter user name">
        </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>
                  Enter Your Mail Id
                </label>
                <input type="Mail" class="form-control" placeholder="enter your maid Id">
            </div>
          </div>

        <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>
                Enter password
              </label>
              <input type="password" class="form-control" placeholder="enter password">
            </div>
              </div>

              
              <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>
                      Enter Confirm password
                    </label>
                    <input type="text" class="form-control" placeholder="enter Confirm Password">
                  </div>
                    </div>
         
                          <div class="col-md-12">
                            <div class="button-block">
                            <button class="btn btn-success"  type="submit">Register</button>
                          </div>
                          </div>
  </div>

        
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

</header>
</div>
  
 