<!-- <footer>
	<div class="footer-links container">
		<div class="footer-state-links col-8">
			<h3>States</h3>
			<ul>
				<li *ngFor="let states of statesList"><a href="">{{states}}</a></li>
			</ul>
		</div>
		<div class="footer-other-links col-4 p-0">
			<h3 class="text-right">Others</h3>
			<ul>
				<li *ngFor="let footerOtherList of footerOtherLinks" class="text-right">
					<a routerLink="/{{footerOtherList}}" routerLinkActive="active">{{footerOtherList}}</a>
				</li>
			</ul>
		</div>
	</div>
	<p>Copyrights &copy; All rights reserved by <span><a href="#">Skkopi</a></span></p>
</footer> -->


<div class="footer">
	<div class="container">
		<div class="row">
			<div class="news">
				<div class="col-md-12 padding-top-50"> 
          
						<!-- News Letter -->
						<div class="news-letter">
						  <h6>News Letter</h6>
						  <form>
							<input type="email" placeholder="Enter your email...">
							<input type="number" placeholder="Enter your Phonenumber">
							<select class="mdb-select md-form">
									<option value="" disabled selected>Choose your option</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
								  </select>
							<button type="submit"><i class="fa fa-envelope-o"></i></button>
						  </form>
						</div>
					  </div>
					</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
	
<div class="col-md-4 col-sm-6">
<div class="skkopi-about">
<h4>Skkopi Education Services</h4>

<p>
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem..
</p>
<div class="social-links">
	<h5>Social Icons</h5>


	<div class="social_f">
			<ul class="socials">
			   <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
			   <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
			   <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
			   <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
		 </div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
	<div class="quick-link">
	<h4>Quick Links</h4>
	<div class="qucik-link-list">
		<ul class="q-l">
			<li><a class="nav-link" routerLink="/about-skkopi"> About</a></li>
			<li><a  class="nav-link" routerLink="/terms-conditions" >Terms & Condition  </a></li>
			<li><a class="nav-link" routerLink="/privacy-policy" >Privacy& Policy</a></li>
			<li><a class="nav-link" routerLink="/advertisements" >Advertise With US </a></li>
			<li><a class="nav-link" routerLink="/contact-us">Contact us</a></li>
		</ul>
	
	</div>
	</div>
	</div>
	<div class="col-md-4 col-sm-6">
			<div class="contact-list">
<h4>Get A Free Quote</h4>

<div class="quote">
		<form>
		  <input class="form-control" type="text" placeholder="Name">
		  <input class="form-control" type="text" placeholder="Phone No">
		  <textarea class="form-control" placeholder="Messages"></textarea>
		  <button type="submit" class="btn btn-orange">SEND NOW</button>
		</form>
	  </div>
			</div>
		
		</div>
	</div>
	<div class="row">
		<div class="top-states">
			<hr>
<h5>BY TOP Statets :</h5>
<ul class="list-unstyled">
	<li><a href="#">Andhra Pradesh</a> | </li>
	<li><a href="#">Arunachal Pradesh</a> |</li>
	<li><a href="#">Assam</a> |</li>
	<li><a href="#">Bihar</a> |</li>	<li><a href="#">Chhattisgarh</a> |</li>
	<li><a href="#">Goa</a> |</li>	<li><a href="#">Gujarat</a> |</li>
	<li><a href="#">Haryana</a> |</li>	<li><a href="#">Himachal Pradesh</a> |</li>
	<li><a href="#">Jammu and Kashmir</a> |</li>	<li><a href="#">Jharkhand</a> |</li>
	<li><a href="#">Karnataka</a> |</li>	<li><a href="#">Kerala</a> |</li>
	<li><a href="#">Madhya Pradesh</a> |</li>	<li><a href="#">Maharashtra</a> |</li>
	<li><a href="#">Manipur</a> |</li>


	<li><a href="#">Meghalaya</a> |</li>
	<li><a href="#">Mizoram</a> |</li>
	<li><a href="#">Nagaland</a> |</li>
	<li><a href="#">Odisha</a> |</li>	<li><a href="#">Punjab</a> |</li>
	<li><a href="#">Rajasthan</a>|</li>	<li><a href="#">Sikkim</a> |</li>
	<li><a href="#">Tamil Nadu</a> |</li>	<li><a href="#">Telangana</a> |</li>
	<li><a href="#">Tripura</a> |</li>	<li><a href="#">Uttar Pradesh</a> |</li>
	<li><a href="#">Uttarakhand</a> |</li>	<li><a href="#">West Bengal</a> |</li>
	<li><a href="#">Andaman and Nicobar Islands</a> |</li>	<li><a href="#">Chandigarh</a> |</li>
	<li><a href="#">Dadar and Nagar Haveli</a> |</li>
	<li><a href="#">Daman and Diu</a> |</li>	<li><a href="#">Delhi</a> |</li>
	<li><a href="#">Lakshadweep</a> |</li>
	<li><a href="#">Puducherry</a> </li>
</ul>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="copyright">
					<h4>Copyrights © All rights reserved by Skkopi 2020</h4>
				</div>
			</div>
		</div>
	</div>

</div>
</div>