.carousel-item {
  height: 15rem;
  background-color: #777;
}

.mainSearch {
    width: 60%;
    bottom: 1rem;
}

.d-block{
	display:block;
}

p{ font-size:14px; color:#424242; margin:5px 0;}

ul{
	margin-left:30px;
}