<div class="container-fluid main-content">
<h5>Colleges</h5>
<div class="main-search-banner">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../assets/images/sliderbanners/banner8.jpg" alt="First slide">
                   </div>
          <div class="carousel-item">
            <img class="second-slide" src="../assets/images/sliderbanners/banner8.jpg" alt="Second slide">
           
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="../assets/images/sliderbanners/banner8.jpg" alt="Third slide">
            
          </div>
        </div>
        
      </div>

      <div class="form container mainSearch carousel-caption">
        <div>
            <div class="row form-inline">
            <select class="form-control">
            <option>Select State</option>
            <option *ngFor="let states of statesList">{{states}}</option>
            </select>
            <select class="form-control">
            <option>Select City</option>
            <option *ngFor="let cities of citiesList">{{cities}}</option>
            </select> 
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                   
            </div>
        
        </div>
      </div>

      </div>

      <div class="tab-content container">
      <div class="row">
         <div class="col-md-9 white-box d-block block-container">
           <h5>Course Overview</h5>
           <div class="white-box d-block" >
            <h6>Bachelor of Engineering [BE] (CHEMICAL ENGINEERING)</h6>            

           <p>B.E. Civil Engineering is a 4-year full-time undergraduate engineering course. The duration of this course is 4 years divided into 8 semesters. Candidates have to pass their 10+2 examinations or an equivalent examination from a recognized board. with 55% of marks to be eligible for this course.
This course deals with the construction, design, and maintenance of structures and works like tunnels, bridges, buildings, canals, waterworks, airports, sewage systems, waterways and canals, highways and railroads, dams and powerhouses, sewage disposal system, water treatment, ports, harbors, docks, etc.</p>

<h6>B.E. Civil Engineering: What is it about?</h6>
<p>B.E. Civil Engineering course introduces the elements of surveying with construction on applications for the construction process. In this course, students study topics like history and background of the surveying profession and learn how it interacts with other disciplines. They also learn measurement concepts, accuracy, error consideration, precision, measuring angles, and significant figures.</p>

<p>The course makes a student well aware and responsible for planning and designing, constructing and maintaining a project. B.E. Civil Engineering degree equips students not only with a sound engineering knowledge but also good supervisory and administrative skills.</p>

<p>B.E. Civil Engineering specializations are Bridge Engineering, Construction Engineering, Coastal Engineering, Ocean Engineering, Environmental Engineering, Geotechnical Engineering, Fire Protection Engineering, Hydraulic Engineering, Materials Engineering, Piles Engineering, Surveying, Timber Engineering, Water Resources Engineering, Irrigation Engineering, Transportation Engineering, Structural Engineering and Water Resources Engineering</p>

<h6>B.E. Civil Engineering: Eligibility </h6>
<p>For B.E. Civil Engineering course eligibility, Candidates have to pass their 10+2 examinations or an equivalent examination from a recognized board. Candidates who have passed their higher secondary examination with 55% of marks are eligible for this course. The percentage may vary from one college to another. Many colleges conduct entrance exam for admission selection. For B.E course lateral entry course eligibility, candidates have to complete their 3 years Diploma degree in any stream from a recognized board.</p>

<h6>B.E. Civil Engineering: Admission Process</h6>
<p>Admission to B.E.Civil Engineering course is based on merit-based or entrance-based. Many colleges select candidates through merit-list prepared by a university for this course admission. Some of the reputed institutes conduct entrance examination along with the personal interview for selecting candidates for course admission.</p>

<h6>Some of the entrance exams conducted by the colleges are:</h6>
<ul>
	<li>JEE Mains</li>
	<li>MHCET</li>
	<li>UPSEE</li>
	<li>KCET</li>
	<li>WBJEE</li>
</ul>

<p>Entrance exams may vary from one institute to another. Candidates who have cleared the entrance exam can attend the personal interview conducted by the college. Few colleges directly admit students for this course admission.</p>
            
         </div>   

           

         </div>
     

         <div class="col-md-3 ads-container">
          <div class="row white-box premium-ad1">
          <img src="../assets/images/sliderbanners/banner8.jpg" alt="Premiun Ad1">
          </div>
          <div class="row white-box premium-ad1">
          <img src="../assets/images/sliderbanners/banner8.jpg" alt="Premiun Ad1">
          </div>
          <div class="row white-box premium-ad1">
          <img src="../assets/images/sliderbanners/banner8.jpg" alt="Premiun Ad1">
          </div>
         </div>
      </div>
      </div>
</div>
