<div class="main-content">
    <div class="university-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="university-title">
                        <h2>About Us</h2>
                    </div>
                    <div class="breadcrumb"><a href="https://gardening.dttheme.com/">Home</a><span class="fa default"></span><span class="current">About us</span></div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="abt-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                        <div class="out_cont_box left banner_img content-center">
                                <div class="out_cont_box_inner">
                                    <img src="../../../assets/images/about.jpg" class="img-fluid" alt="aboutbg-img">
                                  
                                </div>
                            </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="abt-block">
                        <h4>Welcome To our Company</h4>
                        <p class="abt-cont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. aen ean commodo ligula eget dolor. Aenean massa</p>

<div class="abt-p">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Cras dapibus. Vivamus elementum semper nisi. igula,</p>
                    
                        <ul class="about-list nav">
                                <li> <i class="dot"> </i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </li>
                                <li>  <i class="dot"> </i>  Aenean massa. Cum sociis natoque penatibus et. </li>
                                <li> <i class="dot"> </i>   Nulla consequat massa quis enim. Donec pede justo, fringilla vel. </li>
                            </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="service-provide">
        <div class="container">
            <div class="row">
                <div class="title-sr">
                    <h3>Service we provider</h3>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
<div class="row">
    <div class="col-lg-6 col-md-12 wl_cont">
        <div class="service-content">
            <span class="icon">
                    <i class="fa fa-desktop"></i>
            </span>
            <h4 class="service-title"><a href="service-detail.html">  Business Analytics </a></h4>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 wl_cont">
            <div class="service-content">
                <span class="icon">
                        <i class="fa fa-desktop"></i>
                </span>
                <h4 class="service-title"><a href="service-detail.html">  marketing research </a></h4>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 wl_cont">
                <div class="service-content">
                    <span class="icon">
                            <i class="fa fa-desktop"></i>
                    </span>
                    <h4 class="service-title"><a href="service-detail.html">  Build Leadership </a></h4>
                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                        </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wl_cont">
                    <div class="service-content">
                        <span class="icon">
                                <i class="fa fa-desktop"></i>
                        </span>
                        <h4 class="service-title"><a href="service-detail.html"> 24/7 support</a></h4>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                            </p>
                    </div>
                </div>
</div>
                </div>
                <div class="col-md-6 col-sm-6">
                        <div class="out_cont_box banner_img1 right">
                                <div class="out_cont_box_inner">
                                    <img src="../../../assets/images/service.jpg" class="img-fluid" alt="about-img">
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>