.carousel-item {
  height: 15rem;
  background-color: #777;
}

.mainSearch {
    width: 60%;
    bottom: 1rem;
}

.d-block{
	display:block;
}

p{ font-size:14px; color:#424242; margin:5px 0;}

.block-container .d-block:hover{ background:#f9f9f9;}

.block-container .d-block label{     
    background: #f1f1f1;
    padding: 2px 15px;
    margin: 0 20px 0 0;
    color: #007bff;
    font-weight: 500;
    border-radius: 10px;}

.block-container .d-block span{ 
background:#f9f9f9; 
padding:5px 15px;  
margin:0 20px 0 0; 
color:#28a745; 
font-weight:500;
 border-radius:10px;}