<div class="main-content">
<div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-3">
    <div  class="right">
        <div class="left-side-block">
          <div class="heading-cat">
            <h2>Category</h2>
          </div>
            <ul class="nav flex-column flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Stream</a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                      <div class="inner-sub-block">
                        <input type="text" name="search" placeholder="Search..">
                      </div>
                      <ul class="filter">
                          <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                          <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                      </ul>
                    </div>
                </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu2" data-toggle="collapse" data-target="#submenu2">State</a>
                      <div class="collapse" id="submenu2" aria-expanded="false">
                          <div class="inner-sub-block">
                              <input type="text" name="search" placeholder="Search..">
                            </div>
                            <ul class="filter">
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                            </ul>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu3" data-toggle="collapse" data-target="#submenu3">City</a>
                      <div class="collapse" id="submenu3" aria-expanded="false">
                          <div class="inner-sub-block">
                              <input type="text" name="search" placeholder="Search..">
                            </div>
                            <ul class="filter">
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                            </ul>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu4" data-toggle="collapse" data-target="#submenu4">Entrance/Exam Accepted</a>
                      <div class="collapse" id="submenu4" aria-expanded="false">
                          <div class="inner-sub-block">
                              <input type="text" name="search" placeholder="Search..">
                            </div>
                            <ul class="filter">
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                            </ul>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu5" data-toggle="collapse" data-target="#submenu5">Course Type</a>
                      <div class="collapse" id="submenu5" aria-expanded="false">
                          <div class="inner-sub-block">
                              <input type="text" name="search" placeholder="Search..">
                            </div>
                            <ul class="filter">
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                            </ul>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu6" data-toggle="collapse" data-target="#submenu6">Stream</a>
                      <div class="collapse" id="submenu6" aria-expanded="false">
                        <div class="inner-sub-block">
                          <input type="text" name="search" placeholder="Search..">
                        </div>
                        <ul class="filter">
                            <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                            <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                        </ul>
                      </div>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#submenu7" data-toggle="collapse" data-target="#submenu7">State</a>
                        <div class="collapse" id="submenu7" aria-expanded="false">
                            <div class="inner-sub-block">
                                <input type="text" name="search" placeholder="Search..">
                              </div>
                              <ul class="filter">
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                              </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#submenu8" data-toggle="collapse" data-target="#submenu8">City</a>
                        <div class="collapse" id="submenu8" aria-expanded="false">
                            <div class="inner-sub-block">
                                <input type="text" name="search" placeholder="Search..">
                              </div>
                              <ul class="filter">
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                              </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#submenu9" data-toggle="collapse" data-target="#submenu9">Entrance/Exam Accepted</a>
                        <div class="collapse" id="submenu9" aria-expanded="false">
                            <div class="inner-sub-block">
                                <input type="text" name="search" placeholder="Search..">
                              </div>
                              <ul class="filter">
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                              </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#submenu10" data-toggle="collapse" data-target="#submenu10">Course Type</a>
                        <div class="collapse" id="submenu10" aria-expanded="false">
                            <div class="inner-sub-block">
                                <input type="text" name="search" placeholder="Search..">
                              </div>
                              <ul class="filter">
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                                  <li class="checkbox  "><input id="Management" type="checkbox" name="check" value="13" data-filtername="stream"><label for="Management"><a href="#" title="Top Management Colleges In India" class="filter-option"> Management - [5997]</a></label></li>
                              </ul>
                        </div>
                    </li>
                  
              </ul>
            </div>

    </div>
  </div>
<div class="col-md-9 col-sm-9">
  <div class="categories">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="category1-tab" data-toggle="tab" href="#category1" role="tab"
          aria-controls="category1" aria-selected="true">Government</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="category2-tab" data-toggle="tab" href="#category2" role="tab" aria-controls="category2"
          aria-selected="false">Private</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="category3-tab" data-toggle="tab" href="#category3" role="tab" aria-controls="category3"
          aria-selected="false">Deemed</a>
      </li>

      

    </ul>

    <!-- Tab panes -->
    <div class="tab-content container">
      <div class="tab-pane active" id="category1" role="tabpanel" aria-labelledby="category1-tab">
        <div class="card-lists">



          <div class="card card-details col col-lg-4" *ngFor="let stateData of stateuniversitiesListData"
            (click)="viewMainData(stateData._id,stateData.basicInfo.name)" routerLinkActive="active">

            <div class="card-top">
              <img src="../../../assets/images/web banner1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="overlay"></div>
            </div>
            <div class="card-middle">
              <img src="../../../assets/images/p1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="college-info">
                <div class="college-details">{{ stateData.basicInfo.name }}</div>
                <div class="college-address">{{ stateData.address.city }},
                  {{ stateData.address.state }} </div>
                  <div class="rating">
                      <ul class="list-inline">
                          <li class="review-stars text-theme-colored2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                  </div>
                  <div class="clg-cont">
                    <p>Lorem ipsum dolor sit amet, consec teturadipsi cing elit.</p>
                  </div>
                  <div class="bottom-block">
                      <ul class="list-inline text-white">
                          <li>3 hours</li>
                          <li>18 Lessons</li>
                          <li>34 Seats</li>
                        </ul>
                  </div>
              </div>
            </div>

          </div>
          
          <div class="card card-details col col-lg-4" *ngFor="let stateData of stateuniversitiesListData"
            (click)="viewMainData(stateData._id,stateData.basicInfo.name)" routerLinkActive="active">

            <div class="card-top">
              <img src="../../../assets/images/web banner1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="overlay"></div>
            </div>
            <div class="card-middle">
              <img src="../../../assets/images/p1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="college-info">
                <div class="college-details">{{ stateData.basicInfo.name }}</div>
                <div class="college-address">{{ stateData.address.city }},
                  {{ stateData.address.state }} </div>
                  <div class="rating">
                      <ul class="list-inline">
                          <li class="review-stars text-theme-colored2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                  </div>
                  <div class="clg-cont">
                    <p>Lorem ipsum dolor sit amet, consec teturadipsi cing elit.</p>
                  </div>
                  <div class="bottom-block">
                      <ul class="list-inline text-white">
                          <li>3 hours</li>
                          <li>18 Lessons</li>
                          <li>34 Seats</li>
                        </ul>
                  </div>
              </div>
            </div>

          </div>
          
          <div class="card card-details col col-lg-4" *ngFor="let stateData of stateuniversitiesListData"
            (click)="viewMainData(stateData._id,stateData.basicInfo.name)" routerLinkActive="active">

            <div class="card-top">
              <img src="../../../assets/images/web banner1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="overlay"></div>
            </div>
            <div class="card-middle">
              <img src="../../../assets/images/p1.png" alt="{{ stateData.basicInfo.name }}" class="img-responsive">
              <div class="college-info">
                <div class="college-details">{{ stateData.basicInfo.name }}</div>
                <div class="college-address">{{ stateData.address.city }},
                  {{ stateData.address.state }} </div>
                  <div class="rating">
                      <ul class="list-inline">
                          <li class="review-stars text-theme-colored2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                  </div>
                  <div class="clg-cont">
                    <p>Lorem ipsum dolor sit amet, consec teturadipsi cing elit.</p>
                  </div>
                  <div class="bottom-block">
                      <ul class="list-inline text-white">
                          <li>3 hours</li>
                          <li>18 Lessons</li>
                          <li>34 Seats</li>
                        </ul>
                  </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="tab-pane" id="category2" role="tabpanel" aria-labelledby="category2-tab">
        <ul class="card-layout">

          <li>
            <button type="button" class="btn btn-primary">
              Play Schools <span class="badge badge-light">4</span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary">
              CBSE <span class="badge badge-light">12</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              ICSE<span class="badge badge-light">6</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              State <span class="badge badge-light">9</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Special Schools <span class="badge badge-light">2</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Govt Schools <span class="badge badge-light">7</span>
            </button>

          </li>


        </ul>
      </div>
      <div class="tab-pane" id="category3" role="tabpanel" aria-labelledby="category3-tab">
        <ul class="card-layout">


          <li>
            <button type="button" class="btn btn-primary">
              Andhra Pradesh <span class="badge badge-light">4</span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Karnataka <span class="badge badge-light">12</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Telangana<span class="badge badge-light">6</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Maharashtra <span class="badge badge-light">9</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Madhya Pradesh <span class="badge badge-light">2</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Bihar <span class="badge badge-light">7</span>
            </button>

          </li>

          <li>
            <button type="button" class="btn btn-primary">
              Uttar Pradesh <span class="badge badge-light">8</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              West Bengal <span class="badge badge-light">2</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              kerala <span class="badge badge-light">6</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Jammu&Kashmir <span class="badge badge-light">9</span>
            </button>

          </li>
          <li>
            <button type="button" class="btn btn-primary">
              Himachal Pradesh <span class="badge badge-light">24</span>
            </button>

          </li>

        </ul>
      </div>
      <div class="tab-pane" id="category4" role="tabpanel" aria-labelledby="category4-tab">

        <div class="alert alert-danger text-center" role="alert">
          This category will be coming soon!
        </div>
        <!--  <ul>
      <li>
        <img src="../assets/images/categories/category1.png" width="30" height="30"><br/>
        <label>c4item1</label>
      </li>
      <li>
        <img src="../assets/images/categories/category2.png" width="30" height="30"><br/>
        <label>c4item2</label>
      </li>
      <li>
        <img src="../assets/images/categories/category3.png" width="30" height="30"><br/>
        <label>c4item3</label>
      </li>
      <li>
        <img src="../assets/images/categories/category4.png" width="30" height="30"><br/>
        <label>c4item4</label>
      </li>
      <li>
        <img src="../assets/images/categories/category5.png" width="30" height="30"><br/>
        <label>c4item5</label>
      </li>
      <li>
        <img src="../assets/images/categories/category5.png" width="30" height="30"><br/>
        <label>c1item6</label>
      </li>
      <li>
        <img src="../assets/images/categories/category5.png" width="30" height="30"><br/>
        <label>c4item7</label>
      </li>
      <li>
        <img src="../assets/images/categories/category1.png" width="30" height="30"><br/>
        <label>c4item8</label>
      </li>
      <li>
        <img src="../assets/images/categories/category5.png" width="30" height="30"><br/>
        <label>c4item9</label>
      </li>
      <li>
        <img src="../assets/images/categories/category1.png" width="30" height="30"><br/>
        <label>c4item10</label>
      </li>
  </ul>
 -->
      </div>
      <div class="tab-pane" id="category5" role="tabpanel" aria-labelledby="category5-tab">
        <div class="alert alert-danger text-center" role="alert">
          This category will be coming soon!
        </div>
        <!--  <ul>
      <li>
        <img src="../assets/images/categories/category1.png" width="30" height="30"><br/>
        <label>c5item1</label>
      </li>
      <li>
        <img src="../assets/images/categories/category2.png" width="30" height="30"><br/>
        <label>c5item2</label>
      </li>
      <li>
        <img src="../assets/images/categories/category3.png" width="30" height="30"><br/>
        <label>c5item3</label>
      </li>
      <li>
        <img src="../assets/images/categories/category4.png" width="30" height="30"><br/>
        <label>c5item4</label>
      </li>
      <li>
        <img src="../assets/images/categories/category5.png" width="30" height="30"><br/>
        <label>c5item5</label>
      </li>
      
  </ul> -->
      </div>
    </div>
  </div>
</div>


<div class="premium-ads">
  <div class="row white-box premium-ad1">
    <img src="../../assets//images/sliderbanners/pp2.png" alt="Premiun Ad1">
  </div>
  <div class="row white-box white-second-box col-no-padding">
    <div class="row white-box premium-ad2 col-sm">
      <img src="../../assets//images/sliderbanners/pp1.png" alt="Premiun Ad2">
    </div>
    <div class="row white-box premium-ad3 col-sm">
      <img src="../../assets//images/sliderbanners/pp3.png" alt="Premiun Ad3">
    </div>
  </div>
</div>
</div>
</div>
</div>