@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.left-side-block li{
    position: relative;
    margin: 5px 10px;
    border-bottom:1px solid #ccc;
}
.left-side-block li:last-child{
    border-bottom:0px;
}





.card-middle{
   text-align:center;
   display:block; 
   padding:0px;

}
.card-lists .card-details{
    padding-bottom:0px;
}
.card-middle img{
    margin:0px auto;
}
.college-details{
    position:inherit;
    color:#1b2249;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    margin:0px 12px;
    margin-top:7px;
    font-weight:bold;
}

.rating ul li{
display: inline;
margin:0px;
}
.rating ul li .fa{
    font-size:13px;
    color:#1ab9ed;
}
.college-address{
    font-family: 'Poppins', sans-serif;
    text-transform:capitalize;
    margin-top:10px;
}
.clg-cont p{

font-family: 'Poppins', sans-serif;
font-size:12px;
line-height:24px;
}
.bottom-block{
width:100%;
background:#1b2249;
padding:13px 0px;
padding-top:0px;
}
.bottom-block li {
    border-right: 1px solid #ddd;
    padding: 0px 10px;
    margin:0px 3px;
}
.bottom-block li:last-child{
 border-right:0px;
}
ul.nav.flex-column.flex-nowrap {
    background: #fff;
    width: 100%;
    float: left;
    border-radius: 7px;
}

.left-side-block .nav-link{
    font-family: 'Poppins', sans-serif;
    color:#333;
    font-size:14px;

}

.heading-cat{
background:#1ab9ed;
padding:7px 12px;
}
.heading-cat h2{
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-size:20px;

}
div#submenu1 {
    margin-bottom: 10px;
}

.bg-light{
    background-color:transparent!important;
}
.left-side-block{
width:100%;
float:left;
background:#fff;
border-radius:5px;
box-shadow: 0 0 4px 0 rgba(207,207,207,.5);
}
.left-side-block li a{
    color:#323c4f;

    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size:11px;
    font-weight:bold;

}
.right .nav-link[data-toggle][_ngcontent-c4]:not(.collapsed):after {
    content: "\F106";
    font-family: FontAwesome;
    float:right
}
.right .nav-link[data-toggle].collapsed[_ngcontent-c4]:after {
    content: "\f107";
    font-family: FontAwesome;
    float:right;
}

.left-side-block  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    background-color: white;
    background-image:url('../../../assets/images/searchicon.png');
    background-position: 10px 5px; 
    background-repeat: no-repeat;
    padding: 3px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
  }
  .inner-sub-block{
padding:5px 7px;
  }
  .left-side-block  ul.filter li {
    color: #AAA;
    display: block;
    position: relative;
    left: -20px;
    margin-bottom: 3px!important;
    margin-top: -5px!important;
}
.left-side-block .checkbox input[type=checkbox] {
    display: none;
}
ul.filter li label a {
    color: #7b7b7b;
}
.left-side-block  .checkbox label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 8px;
    border: 1px solid #999;
}
ul{
    list-style-type: none;

}
ul.filter li label {
    display: block;
    position: relative;
    font-weight: 600;
    padding: 0 0 0 40px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    font-size: 11px;
    line-height: 2.2;
    letter-spacing: .4px;
    color: #7b7b7b;
    transition: 0s ease all;
    text-transform: uppercase;
}
a:hover{
    text-decoration:none;
}
.left-side-block li ul.filter li{
    border-bottom:0px;

}