<div class="main-content">
 <div class="university-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="university-title">
                    <h2>Exams</h2>
                </div>
                <div class="breadcrumb"><a href="https://gardening.dttheme.com/">Home</a><span class="fa default"></span><span class="current">Exams</span></div>
            </div>
            
        </div>
    </div>

</div>

<div class="exam-block">
 
    <div class="container-fluid">
        <div class="row">
         
          </div>
      </div>
      <div class="container-fluid">
       
          <div class="row">
            <div class="col-md-12 ">
              <div class="whole-main">
              <nav class="nav-sec">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                   <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#entrance" role="tab" aria-controls="nav-home" aria-selected="true">Entrance Exam</a>
                 <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Govt" role="tab" aria-controls="nav-profile" aria-selected="false">Govt Exam</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#abroad" role="tab" aria-controls="10+2" aria-selected="false">Abroad Exam</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="entrance">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3 col-sm-4">
                  <div class="entrance-block">
                    <div class="row">
                   
                    <div class="col-md-12 col-sm-12 le-1">
                        <div class="img-sec">
                            <img src="../../assets/images/engineer.png" class="img-responsive">
                            <h4>Engineering</h4>
                            </div>
                      <div class="et-bl">
     <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
     <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
     <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
     <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
    
  
  <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <div class="entrance-block">
                    <div class="row">
                
                    <div class="col-md-12 col-sm-12 le-1">

                        <div class="img-sec">
                            <img src="../../assets/images/graph.png" class="img-responsive">
                            <h4>management</h4>
                            </div> 
                      <div class="et-bl">
     <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
     <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
     <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
     <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
    
  
  <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="entrance-block">
                      <div class="row">
                  
                      <div class="col-md-12 col-sm-12 le-1">
  
                          <div class="img-sec">
                              <img src="../../assets/images/graph.png" class="img-responsive">
                              <h4>management</h4>
                              </div> 
                        <div class="et-bl">
       <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
       <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
       <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
       <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
      
    
    <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                      </div>
                    </div>
                    </div>
                  </div>
                <div class="col-md-3 col-sm-4">
                    <div class="entrance-block">
                      <div class="row">
                  
                      <div class="col-md-12 col-sm-12 le-1">
  
                          <div class="img-sec">
                              <img src="../../assets/images/graph.png" class="img-responsive">
                              <h4>management</h4>
                              </div> 
                        <div class="et-bl">
       <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
       <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
       <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
       <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
       
    
    <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="entrance-block">
                      <div class="row">
                     
                      <div class="col-md-12 col-sm-12 le-1">
                          <div class="img-sec">
                              <img src="../../assets/images/engineer.png" class="img-responsive">
                              <h4>Engineering</h4>
                              </div>
                        <div class="et-bl">
       <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
       <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
       <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
       <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
      
    
    <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="entrance-block">
                      <div class="row">
                  
                      <div class="col-md-12 col-sm-12 le-1">
  
                          <div class="img-sec">
                              <img src="../../assets/images/graph.png" class="img-responsive">
                              <h4>management</h4>
                              </div> 
                        <div class="et-bl">
       <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
       <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
       <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
       <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
      
    
    <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <div class="entrance-block">
                        <div class="row">
                    
                        <div class="col-md-12 col-sm-12 le-1">
    
                            <div class="img-sec">
                                <img src="../../assets/images/graph.png" class="img-responsive">
                                <h4>management</h4>
                                </div> 
                          <div class="et-bl">
         <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
         <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
         <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
         <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
        
      
      <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                        </div>
                      </div>
                      </div>
                    </div>
                  <div class="col-md-3 col-sm-4">
                      <div class="entrance-block">
                        <div class="row">
                    
                        <div class="col-md-12 col-sm-12 le-1">
    
                            <div class="img-sec">
                                <img src="../../assets/images/graph.png" class="img-responsive">
                                <h4>management</h4>
                                </div> 
                          <div class="et-bl">
         <p><a href="#"><span class="ft-b">JEE MAIN</span> Joint Entrance Exam Main</a></p> 
         <p><a href="#"><span class="ft-b">JEE ADVANCED</span> Joint Entrance Examination Advanced</a></p>
         <p><a href="#"><span class="ft-b">GATE</span> Graduate Apptitude Test in Engineering</a></p> 
         <p><a href="#"><span class="ft-b">RAJSHTHAN Polytechnic EXAM</span> Rajshthan polytechnic Exam</a></p>
         
      
      <p><span class="bl-h"><a href="#">128 Exams More</a></span></p></div>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>

            </div>
                </div>
              </div>
                <div class="tab-pane fade" id="Govt" role="tabpanel" aria-labelledby="nav-profile-tab">
                   hello
                </div>
                <div class="tab-pane fade" id="abroad" role="tabpanel" aria-labelledby="nav-contact-tab">
                    heo
                </div>
             
              </div>
            </div>
            
            </div>
          </div>
        </div>
  </div>
              

</div>